* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px gray;
}

.card {
  width: 20%;
  padding: 20px;
  background-color: rgb(58, 86, 246);
  border-radius: 5px;
  text-align: center;
  transition: all 0.2s ease;
}
.card:hover {
  background-color: rgb(211, 216, 247);
  transform: scale(1.1);
}
.user-name {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.btn {
  padding: 5px 20px;
  border-radius: 50px;
  border: none;
  background-color: rgb(0, 255, 149);
  transition: all 0.2s ease;
}

.btn:hover {
  background-color: rgb(0, 127, 74);
  font-weight: bold;
  transform: translateY(-3px);
}

/* Model Box Styling */
.model {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
}

.model-box {
  width: 50%;
  padding: 20px;
  margin: 40dvh auto;
  border-radius: 10px;
  background-color: white;
  color: black;
  z-index: 99;
}

.close-btn {
  position: relative;
  left: 97%;
  padding: 5px;
  border: none;
  background-color: tomato;
  font-weight: bold;
}

.drop-shadow {
  position: absolute;
  width: 100%;
  height: 100dvh;
  background-color: black;
  opacity: 0.8;
  z-index: -99;
}

.show {
  display: block;
}

.hide {
  display: none;
}
