:root {
  scroll-behavior: smooth;
}

.container {
  width: 80%;
  margin-left: 10%;
  padding: 10px;
}

.header {
  background-color: black;
  color: white;
}
.header {
  position: sticky;
  top: 0px;
}
.nav {
  list-style-type: none;
  padding: 10px;
}
.nav-item {
  display: inline-block;
}
.nav-link {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 5px;
}

.section {
  width: 100%;
  height: 400px;
  border: 3px solid black;
  margin-bottom: 20px;
  font-size: 4rem;
}
