* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 100dvh;
  background: url("images/background.jpg");
  box-shadow: inset 0px 100vh 10px 10px rgba(0, 0, 0, 0.7);
}

/* Nav Bar CSS */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10%;
  box-shadow: inset 0px 30px 20px 0px rgba(0, 0, 0, 0.8);
}

.nav-bar .site-logo {
  width: 30%;
}
.nav-bar .site-logo img {
  width: 40%;
}
.site-button {
  width: 30%;
  text-align: end;
}

.site-button select {
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 3px;
  font-size: 1.2rem;
  padding: 5px 15px;
}

.site-button .sign-in {
  background-color: red;
  padding: 5px 15px;
  border: none;
  border-radius: 4px;
  font-size: 1.1rem;
  color: white;
}
